{% extends 'user/base.html' %}


{% block content %}

<h1>Write your Review</h1>

<form action="" method="POST">
    {% csrf_token %}
    <input type="radio" id="1" name="rating" value="1">
    <label for="1">1 star</label><br>
    <input type="radio" id="2" name="rating" value="2">
    <label for="2">2 star</label><br>
    <input type="radio" id="3" name="rating" value="3">
    <label for="3">3 star</label><br>
    <input type="radio" id="4" name="rating" value="4">
    <label for="4">4 star</label><br>
    <input type="radio" id="5" name="rating" value="5">
    <label for="5">5 star</label><br>
    <input type="text" name="review" id="">
    <input type="submit" class="site-btn" value="POST REVIEW">
</form>

{% endblock content %}