{% extends 'user/base.html' %}
{% load static %}
{% block content %}



<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__text">
                    <h2>Shopping cart</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__links">
                    <a href="./index.html">Home</a>
                    <span>Shopping cart</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for item  in cart %}
                            <tr>
                                <td class="product__cart__item">
                                    <div class="product__cart__item__pic">
                                        <img src="" alt="">
                                    </div>
                                    <div class="product__cart__item__text">
                                        <h6>{{item.product.name}}</h6>
                                        <h5>Rs. {{item.product.price}}</h5>
                                    </div>
                                </td>
                                <td class="quantity__item">
                                    <!--  <div class="quantity">
                                        <div class="pro-qty">
                                            <input type="text" readonly value="{{item.quantity}}">
                                        </div>
                                    </div> -->
                                    <div>
                                        {{item.quantity}}
                                    </div>
                                </td>
                                <td class="cart__price">Rs. {{item.total}}</td>
                                <td class="cart__close"><a
                                        href="{% url 'user:remove-from-cart' storename item.id %}"><span
                                            class="icon_close"></span></a></td>
                            </tr>

                            {% endfor %}



                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn">
                            <a href="#">Continue Shopping</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn update__btn">
                            <a href="#"><i class="fa fa-spinner"></i> Update cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart__discount">
                    <h6>Discount codes</h6>
                    <form action="#">
                        <input type="text" placeholder="Coupon code">
                        <button type="submit">Apply</button>
                    </form>
                </div>
                <div class="cart__total">
                    <h6>Cart total</h6>
                    <ul>

                        <li>Total <span>{{grand_total}}</span></li>
                    </ul>
                    <a href="{% url 'user:checkout' storename%}" class="primary-btn">Proceed to checkout</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->
{% endblock content %}