{% extends 'user/base.html' %}
{% load static %}
{% block content %}


<!-- Hero Section Begin -->
<section class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__item set-bg" data-setbg="{{website.image.url}}">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="hero__text">
                            <h2>{{website.about}}</h2>
                            <a href="{% url 'user:shop' storename %}" class="primary-btn">Visit Complete Store</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Hero Section End -->

<!-- About Section Begin -->
<section class="about spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="about__text">
                    <div class="section-title">
                        <span>About {{storename}}</span>
                        <h2>{{website.about}}</h2>
                    </div>
                    <p></p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">

            </div>
        </div>
    </div>
</section>
<!-- About Section End -->

<!-- Categories Section Begin -->
<div class="categories">
    <div class="container">
        <div class="row justify-content-center">
            <div class=" owl-carousel"></div>

            {% for category in categories %}
            <div class="categories__item">
                <div class="categories__item__icon center">
                    <h5>{{category}}</h5>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
</div>
<!-- Categories Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        {% for category_wise_list in category_wise_lists  %}
        <div class="row">
            {% for item in category_wise_list %}
            <div class="col-lg-3 col-md-6 col-sm-6">
                <a href="{% url 'user:product-details' storename item.id %}">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{{item.image}}">
                            <div class="product__label">
                                <span>{{item.category}}</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">{{item.name}}</a></h6>
                            <div class="product__item__price">{{item.price}}</div>
                            <div class="cart_add">
                                <a href="{% url 'user:add-to-cart' storename item.id %}">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% endfor %}


    </div>
</section>
<!-- Product Section End -->



{% endblock content %}