{% extends 'user/base.html' %}
{% load static %}
{% block content %}


<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__text">
                    <h2>Wishlist</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__links">
                    <a href="./index.html">Home</a>
                    <span>Wishlist</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Wishlist Section Begin -->
<section class="wishlist spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="wishlist__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Unit Price</th>
                                <th>Stock</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for item in wishlists %}
                            <tr>
                                <td class="product__cart__item">
                                    <div class="product__cart__item__pic">
                                        <img src="" alt="">
                                    </div>
                                    <div class="product__cart__item__text">
                                        <h6>{{item.product.name}}</h6>
                                    </div>
                                </td>
                                <td class="cart__price">$ {{item.product.price}}</td>
                                <td class="cart__stock">In stock</td>
                                <td class="cart__btn"><a href="#" class="primary-btn">Add to cart</a></td>
                                <td class="cart__close"><a
                                        href="{% url 'user:remove-from-wishlist' storename item.id %}"><span
                                            class="icon_close"></a></span></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Wishlist Section End -->
{% endblock content %}