{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Webster</title>

  <!-- CSS  -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'user/landing/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'user/landing/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo"> Webster</a>
      <img id="webster-logo" src="https://cdn.discordapp.com/attachments/768364863940460587/777782075955871764/logo.png" alt="logo">
      <ul class="right hide-on-med-and-down">
        <li><a href="./index.html">Home</a></li>
        <li><a href="#about-webster">About</a></li>
        <li><a href="#contact-us">Contact</a></li>
        <li><a href="#team">Team</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="./index.html">Home</a></li>
        <li><a href="#about-webster">About</a></li>
        <li><a href="#contact-us">Contact</a></li>
        <li><a href="#team">Team</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <!-- <h1 class="header center teal-text text-lighten-2">Parallax Template</h1> -->
        <div class="row center">
          <h2 class="header col s12 light">We help to grow your business</h2>
        </div>
        <div class="row center">
          <a href="#get-started" id="download-button" class="btn-large waves-effect waves-purple">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="{% static 'user/landing/images/main-bg.jpg' %}" alt="Unsplashed background img 1"></div>
  </div>

  <section id="about-webster">
    <div class="container" data-aos="fade-out">
      <div class="section">
        <div class="row">
          <div class="col s12 center">
            <h3><i class="mdi-content-send brown-text"></i></h3>
            <h2>About Webster</h2>
            <p class="left-align light">Webster is a service app that helps people to maintain a website for their business needs with just an Instagram account. Anyone with an Instagram account can download our app and register the account with us. The client can then advertise their products through their Instagram posts as usual and we scrape it from the profile of the client, and generate a website with a template selected by the client. Everytime the client updates his insta account with a new product it is automatically added to the website, and users can purchase it from the site.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <div class="parallax-container valign-wrapper">
    <div class="parallax"><img src="{% static 'user/landing/images/background3.jpg' %}" alt="Unsplashed background img 3"></div>
  </div>

  <section id="get-started">
    <h2 class="center">these few steps will get you started</h2>
    <div class="container" data-aos="fade-up" data-aos-delay="50">
      <div class="row">
        <div class="section">
          <div class="col s12 m4" data-aos="fade-right">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">person_add</i></h2>
              <h5 class="center">Register</h5>
              <p class="light center">Register with webster using your instagram id</p>
            </div>
          </div>
          <div class="col s12 m4" data-aos="fade-up">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">arrow_downward</i></h2>
              <h5 class="center">Download</h5>
              <p class="light center">Download the webster app for your device</p>
            </div>
          </div>
          <div class="col s12 m4" data-aos="fade-left">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">share</i></h2>
              <h5 class="center">Share</h5>
              <p class="light center">Share the website link with your customers</p>
            </div>
          </div>
        </div>
      </div>      
    </div> 
  </section>

  <section id="contact-us">
    <div class="container" data-aos="fade-in">
      <div class="section">
        <div class="row">
          <div class="col s12 center">
            <h3><i class="mdi-content-send brown-text"></i></h3>
            <h2>Have anything to convey</h2>
            <br>
            <h6>We would love to hear it from you</h6>
            <br>
            <a class="btn" href="mailto:webster@gmail.com">Send Mail</a>
          </div>
        </div>
      </div>
    </div>
  </section>
    
  <div class="parallax-container valign-wrapper">
    <div class="parallax"><img src="{% static 'user/landing/images/background2.jpg' %}" alt="Unsplashed background img 2"></div>
  </div>

  <br>
  

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12"></div>
        <section id="team">
          <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><a class="white-text" href="mailto:webster@gmail.com">Link 1</a></li>
              <li><a class="white-text" href="mailto:webster@gmail.com">Link 2</a></li>
              <li><a class="white-text" href="mailto:webster@gmail.com">Link 3</a></li>
              <li><a class="white-text" href="mailto:webster@gmail.com">Link 4</a></li>
            </ul>
          </div>
        </section>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <p style="text-align: center;">&copy; cd_hack.inc 2020</p>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'user/landing/js/materialize.js' %}"></script>
  <script src="{% static 'user/landing/js/init.js' %}"></script>

  </body>
</html>
